/* Reset básico */
body, h1, form, table {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Layout principal */
body {
    background-color: #302c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: #fbfafa;
    margin-bottom: 20px;
}
.name-and-id,.size,#types{
    color: white;
}

/* Container principal */
.container {
    background: rgb(39, 36, 36);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

/* Formulário */
#search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button {
    padding: 10px;
    border: none;
    background-color: #cb4a0f;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #f5f7f9;
}

/* Output */
.output {
    margin-top: 20px;
}

/* Nome, ID, Peso e Altura */
.name-and-id, .size {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Top container */
.dominant-colors {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .color-square {
    width: 30px;
    height: 30px;
    border: 1px solid #030202;
    border-radius: 5px;
  }

  label{
    color: white;
  }
/* Centralizar imagens */
.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

.img-container img {
    width: 120px;
    height: auto;
    display: block;
}

/* Tipos */
#types {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

/* Tabela */
table {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #040404;
    padding: 10px;
}

th {
    background-color: #cb4a0f;
    color: white;
}

td {
    background-color: white;
}

/* Ajuste para textos e estatísticas */
.bottom-container {
    display: flex;
    justify-content: center;
}
